spotify-mini-player/packal/package.xml
spotify-mini-player/packal/com.vdesabou.spotify.mini.player.pub
spotify-mini-player/composer.lock
spotify-mini-player/composer.phar
spotify-mini-player/.idea
*.sublime-workspace
.sass-cache
*.sublime-project
_site
.DS_Store
*.txt
