body {
	font-family:'Lucida Grande',Tahoma,Calibri,Arial,sans-serif;
	font-size:12px;
	line-height:1.584;
	color:#222;
	background-color:#ecebe8;
	min-height:100%;
	padding:10px 0 20px;
	box-sizing:border-box;
}

a {
	color:#333;
}

h1 {
	font-size:40px;
}

h1,h2,h3 {
	margin-top:1em;
	margin-bottom:1em;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:700;
	line-height:1.2;
	color:#343434;
}

.description {
	font-size:1.2em;
}

.reference {
	padding:.5em 0;
	font-size:.9em;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

#wrapper {
	position:relative;
	z-index:2;
	max-width:800px;
	min-height:100%;
	margin:0 auto;
	padding:20px;
}

section {
	position:relative;
	overflow:hidden;
	margin:0 0 40px;
}

.breadcrumb {
	list-style:none;
	padding:0;
}

body::before {
	content:'.';
	background:url(/img/icon.png) no-repeat top right;
	width:400px;
	height:400px;
	top:0;
	right:0;
	position:absolute;
	opacity:.2;
}

/* Text */
ul {
	margin:0 0 20px;
}

body,html {
	overflow:visible!important;
}

code {
	-webkit-user-select:auto;
}

.clear {
	clear:both;
}

#now-playing {
	color:#488E03;
}

#debug_area {
	width:100%;
	height:500px;
	overflow-y:auto;
	background-color:#373737;
	color:#fff;
}