.clear {
	clear:both;
}
.left {
	float:left;
}
.main {
	padding:20px;
}
#now-playing {
	font-size:24px;
	margin-bottom:30px;
	line-height: 32px;
}
#now-playing a {
	color:#eeeeee;
}
#player-image {
	margin-right: 10px;
	margin-bottom: 10px;
}
#player-image, #player-image .image {
	float:left;
	height:128px;
	width:128px;
}
#commands {
	margin-bottom:30px;
}
ul {
	list-style: disc;
	margin-left: 20px; 
}
a {
	color:#eeeeee;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.button:active {
	position:relative;
	top:1px;
}
	
textarea {
width: 50%;
height: 100px;
}
		