.clear {
	clear:both;
}
.left {
	float:left;
}
.main {
	padding:20px;
}
#now-playing {
	font-size:18px;
	margin-bottom:30px;
	line-height: 32px;
	color:#41c826;
}

ul {
	list-style: disc;
	margin-left: 20px; 
}
a {
	color:#eeeeee;
}
h2 {
color:#41c826;
}   	
#debug_area {
width: 90%;
height: 900px;
overflow-y: auto;
}
		