<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vdesabou.spotify.mini.player</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/osascript</string>
        <string>-e</string>
        <string>tell application id "com.runningwithcrayons.Alfred" to run trigger "refresh_library" in workflow "com.vdesabou.spotify.mini.player" with argument "launch_agent"</string>
    </array>
    <key>StartInterval</key>
    <integer>:INTERVAL:</integer>
</dict>
</plist>